@model informator.Controllers.RecipeDetailsModel

@{
    ViewBag.Title = "FullDetails";
}

<h2>FullDetails</h2>
<p>Några detaljer som summeras @Model.Name med en beskrivning @Model.Summary.ToLower()</p>




