@model List<informator.Models.RecipeSummaryModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var recept in Model)
{
    <h3>
       @recept.Name
    </h3>
    <p>@recept.Summary</p>
}
